/*
HTML
 */
html{
	padding: 0;
	margin: 0;
}

/*
TEXT
 */
body{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	padding: 0 0px;
	margin: 0;
	min-width: 1000px;
	font-size: 24;
	background-color: rgb(249,238,222);
	/*background-image: url('../images/natural-canvas-pale.jpg');*/
	/*background-image: url('../images/sprinkles.png');*/
	/*background-image: url('../images/grey_wash_wall.png');*/
	/*should implement a backup background colour, incase image fails to load */
	background-image: url('../images/tileable_wood_texture.png');
}

h1{
	font-family: 'Swanky and Moo Moo', cursive, "Lucida Grande";
	text-align: left;
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: rgb(247,120,37);
}

h2{
	font-family: 'Swanky and Moo Moo', cursive, "Lucida Grande";
	text-align: left;
	font-size: 1.6em;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: rgb(247,120,37);
}

p{
	margin: 0;
	margin-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
}

p.button_paragraph{
	text-align: center;
}

a{
	color: red;
}

/*
IMAGES
 */
img {
	display: block;
	min-height: 400px;
	min-width: (1000px * .8);
    max-width: 100%;
    height: auto;
}

img.share_icons{
	display: inline;
	width: 50px;
	height: 50px;
	min-height: 0px;
	min-width: 0px;
}

img.inline_image_left{
	margin: 0px;
	padding: 20px;
	/*
	padding-bottom: 5px;
	*/
	height: 400px;
	width: auto;
	float: left;
}

img.inline_image_right{
	margin: 0px;
	padding: 20px;
	/*
	padding-bottom: 5px;
	*/
	height: 400px;
	width: auto;
	float: right;
}

img.product_image_centre{
	margin: 0 auto;
	padding: 20px;
	height: 400px;
	width: auto;
}

/*
LISTS
 */
ul#navigation{
	margin: 0px;
	padding: 0px;
	display: table;
	width: 100%;
	font-size: 0;
	/* need the multi def's for different browsers */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

li div{
	font-size: 1.6em;
	display: table;
	height: 75px;
	width: auto;
	line-height: 75px;
	margin: 0 auto;
}

li div img{
	min-height: 0px;
	min-width: 0px;
	max-height: 75px;
	line-height: 75px;
	max-width: 40px;
}

li{
	color: rgb(211,206,61);
	display: table-cell;
	list-style-type: none;
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 24;
	font-weight: bold;
	padding: 0 0 0 0;
	width: 16.666%;
	margin: 0;
	/* need to add multi defs for different browsers */
	-moz-transition-property: background-color;
	-moz-transition-duration: .5s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .5s;
	-o-transition-property: background-color;
	-o-transition-duration: .5s;
	-ms-transition-property: background-color;
	-ms-transition-duration: .5s;
	transition-property: background-color;
	transition-duration: .5s;
}

li.active{
	background-color: rgb(247,120,37);
	text-decoration: underline;
	color: rgb(240,240,240);
}

li.nonactive{
	background-color: rgb(85,66,54);
}

li:hover {
	background-color: rgb(247,120,37);
}

/*
Feilds
 */
fieldset{
	width: 80%;
	margin: 0 auto;
	border: 1px dashed black;
}

fieldset p{
	clear: both;
	padding: 10px;
	padding-bottom: 0px;
}

/*
Labels
 */
label.feild_label{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: boarder-box;
	text-align: right;
	width: 42%;
	float: left;
	padding: 8px;
}

/*
Inputs
 */
input.input_text{
	width: 58%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 24;
	padding: 6px;
	float: left;
	text-align: left;
}

button.input_submit{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 24;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

select{
	width: 30%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 24;
	padding: 6px;
	float: left;
	text-align: left;
}

textarea{
	resize: none;
	width: 100%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;	text-align: center;
	font-size: 24;
	text-align: left;
	float: left;
}

/*
DIVS
 */
div#container{
	text-align: center;
	width: 80%;
	height: auto;
	margin: 0 auto;
	background-color: #1B1914;
	/*
	#999
	 */
	box-shadow: 7px 0px 9px -5px rgba(0,0,0,.3), -7px 0px 9px -5px rgba(0,0,0,.3);
}

div#divnav{
	text-align: center;
	width: 100%;
	background-color: rgb(85,66,54);
	margin: 0;
	padding: 0;
}

div#heading{
	background-color: rgb(45,41,36);
	background-image: url('../images/1162020_65931839.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	width: 100%;
	height: 300px;
	color: rgb(247,120,37);
	font-family: 'Swanky and Moo Moo', cursive;
	text-decoration: underline;
	line-height: 420px;
	font-size: 5em;
	margin: 0;
}

div#main_content{
	/*background-image: url('../images/textured_paper.png');*/
	/*background-image: url('../images/old_moon.png');*/
	background-color: rgb(233,233,233);
	background-image: url('../images/concrete_wall_3.png');
	text-align: left;
	margin: 0;
	width: (100% - (padding * 2)px);
	padding: 80px;
	padding-top: 10px;
	padding-bottom: 20px;
	overflow: auto;
}

div#gallery_selection{
	text-align: center;
	width: 100%;
}

div#gallery{
	background-image: url('../images/7_garden_gnomes.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	width: 100%;
	height: 600px;
}

div#form_div{
	margin: 0 auto;
}

div#productdiv{
	border-top: 1px dashed black;
	overflow: auto;
	padding-bottom: 10px;
	padding-top: 10px;
}

div#productcontent{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: boarder-box;
	float: left;
	margin: 0;
	padding-right: 20px;
	width: 60%;
}

div#productimage{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: boarder-box;
	background: rgb(255,255,255);
	float: right;
	width: 40%;
}

div#bottom_frame{
	background-color: rgb(167,173,151);
	background-image: url('../images/green_cup.png');
	font-size: .7em;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	padding: 10px;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div#bottom_content{
	float: left;
	text-align: left;
	line-height: 20px;
	width: 49%;
	height: 100%; 
	border-right : 1pt dashed black;
}

div#bottom_share{
	float: right;
	vertical-align: middle;
	text-align: center;
	width: 49%; 
	height: 100%;
	line-height: 140px;
}